<header>
  <mat-toolbar class="example-spacer" color="primary">
    <a routerLink="" class="logo"><span>My App</span></a>
    <nav>
      <ul class="nav__links">
        <li routerLinkActive="is-active"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="is-active">
          <a routerLink="/cursos" [queryParams]="{ pagina: 1 }">Cursos</a>
        </li>
        <!-- <li routerLinkActive="is-active">
          <a [routerLink]="['cursos', idCurso.value]">Curso com ID</a>
        </li> -->
        <li routerLinkActive="is-active">
          <a [routerLink]="['alunos']">Alunos</a>
        </li>
      </ul>
    </nav>
    <!-- <span class="example-spacer"></span> -->
    <div>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

<div class="content" role="main">
  <!-- <p>Entre com o id do curso</p>
  <input matInput #idCurso type="text" /> -->
  <router-outlet></router-outlet>
</div>
