<div class="card">
  <div class="card-header">
    <div class="float-start">
      <h4>Cursos</h4>
    </div>

    <div class="float-end">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">
        Novo Curso
      </button>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <th scope="row">{{ curso.id }}</th>
          <td>
            {{ curso.nome }}
          </td>
          <td>
            <span class="float-end">
              <button class="btn btn-outline-warning mb-1 btn-sm mx-2">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
